.body-container{
    color:#a6003a;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    padding: 15px;
    width: 100%;
}
.container-calendar{
    border: 2px solid blue;
    margin-top: 15px;
    width: 400px;
    order: 2;
}
td{
    cursor: pointer;
}
.diary{
    border: 2px solid violet;
    height: 606px;
    width: 600px;
    margin-top: 15px;
    
}
.diary-header{
    display: flex;
}
.diary-header i{
    margin-top: 5px;
    font-size: 30px;
    cursor: pointer;
    color: white;
    padding-left: 10px;
    float: right;
}
#diary-date{
    padding-left: 10px;
    height: 6%;
}
#diary-content{
    border: 1px solid white;
    height: 80%;
    overflow: auto;
}
#save-button{
    height: 10%;
    width:100%;
}
.form-inline{
    padding: 10px;
}
p{
    padding: 15px;
}
@media screen and (max-width: 620px){
    .container-calendar{
        border: 2px solid blue;
        width: 100%;
        margin-top: 15px;

    }
    
    td,th{
        max-width: 14.28%;
    }
}
