<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose your game</title>
</head>
<body>
    <a href="/game1">Type the word</a>
    <a href="/game2">Stone,Paper,Scissor Replica</a>
    <a href="/game3">Fall out game</a>
    <hr>
    <a href="/scoreboard"><button>SCOREBOARD</button></a>
</body>
</html>