<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/fallOutGame.css" type="text/css" rel="stylesheet">
    <title>Fall Game</title>
</head>
<body>
    <a href="/choose/game"><button type="button" id="back-button">back</button></a>
    <div id="game">
        <div id="ball"></div>
    </div>
    <script src="/fallOutGame.js"></script>
</body>
</html>