<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome <%= name %></h1>
    <form action="/logout" method="POST">
        <button type="submit" id="log-out">Log Out</button>
      </form>    
    <a href="/diary"><h2>Write your diary today</h2></a>
    <a href="/planner"><h2>Make a planner</h2></a> 
    <a href="/choose/game"><h2>Play games</h2></a> 
    <a href="/weather"><h2>Make plans according to the weather</h2></a> 
</body>
</html>