<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome sai</h1>
    <a href="/diary"><h2>Write your diary today</h2></a>
    <a href="#"><h2>Make a to do list</h2></a> 
    <a href="/choose/game"><h2>Play games</h2></a> 
    <a href="#"><h2>Listen to Music</h2></a> 
</body>
</html>