<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="manifest" href="/assets/site.webmanifest">
    <title>Login</title>
    <link href="/css/login.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="particles-js">
    <div class="login">
    <h2>Login</h2>
    <% if(messages.error) { %>
        <%= messages.error %><br>
        <% } %>
    <form method="POST">
        <label for="username" class="form-label">Your Username:</label>
        <input type="text" name="username" id="username" placeholder="Username" class="form-input" required><br><br>
        <label for="password" class="form-label">Your Password:</label>
        <input type="password" name="password" id="password" placeholder="Password" class="form-input" required><br><br><br>
        <button type="submit">Login</button>
    </form>
</div>
</div>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script>
        particlesJS.load('particles-js', 'particles.json', function(){
          console.log('Json file loaded');
        });

</script>
</body>
</html>