<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/register.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="register">
    <h2>Sign Up</h2>
    <form method="POST">
        <label for="name" class="form-label"><strong>Your name: </strong>
        <input type="text" class="form-input" name="name" id="name" placeholder="Name" required></label><br><br>
        <label for="username" class="form-label"><strong>Your Username: </strong>
        <input type="text" class="form-input" name="username" id="username" placeholder="Username" required></label><br><br>
        <label for="email" class="form-label"><strong>Your email: </strong>
        <input type="email" class="form-input" name="email" id="email" placeholder="Email" required></label><br><br>
        <label for="password" class="form-label"><strong>Your Password: </strong>
         <input type="password" class="form-input" name="password" id="password" placeholder="Password" required></label><br><br><br>
        <button type="submit" class="button"><strong>SUBMIT</strong></button>
    </form>
    </div>
</body>
</html>