<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Score Board</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="/scoreBoard.css" type="text/css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body>
    <div class="main">
    <h2>SCORE BOARD</h2>
    <p class="position">Your position is <span id="your-position"></span></p>
    <div class="scores-container">
     <div class="score-board">
         <table class="table table-bordered table-responsive-sm">
          <thead>
              <tr>
               <th>Rank</th>
               <th>Username</th>
               <th>Score</th>
              </tr>
          </thead>
          <tbody id="score-board">
              
          </tbody>
         </table>
     </div>
    </div>
    <h4 class="comment">Try playing more games and have fun!!!</h4>
    </div>
    <script src="/scoreBoard.js">
    </script>
</body>
</html>