<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Score Board</title>
    <link href="/scoreBoard.css" type="text/css" rel="stylesheet">
</head>
<body>
    <h2>Score sheet of games</h2>
    <div class="container">
     <div class="score-board">
         <table>
          <thead>
              <tr>
               <th>Rank</th>
               <th>Username</th>
               <th>Score</th>
              </tr>
          </thead>
          <tbody id="score-board">
              
          </tbody>
         </table>
     </div>
    </div>
    <script src="/scoreBoard.js">
    </script>
</body>
</html>