<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test your speed</title>
    <link href="/typingGame.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="timer" id="timer">0</div>
    <a href="/choose/game"><button class="back-button" type="button">BACK</button></a>
    <div class="container">
        <div class="quote-display" id="quoteDisplay"></div>
        <textarea id="quoteInput" class="quote-input" autofocus></textarea>    
    </div>
    <script src="/typingGame.js">
    </script>
</body>
</html>