<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/owfont-regular.css" rel="stylesheet" type="text/css">
    <link href="/weather.css" rel="stylesheet" type="text/css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather app</title>
    </head>
<body>
    <h1>Know the weather</h1>
    <div class="location" id="location-icon">
        <h1 class="location-timezone">Timezone</h1>
    </div>
    <div class="temperature">
        <div class="degree">
        <h2 class="temperature-degree">34</h2>
        <span>F</span>
        </div>
        <div class="temperature-description">Hot,sunny day</div>
    </div>
    <script src="/weather.js">
    </script>
</body>
</html>