<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/welcome.css" rel="stylesheet" type="text/css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Entertaino</title>
    <style>
        .big{
          font-size: 55px;
         }
        .medium{
          font-size: 20px;
          padding: 10px;
         }
    </style>
  </head>
  <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container">
            <a class="navbar-brand" href="/">Entertaino</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#about">About<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#contact">Contact</a>
                </li>
              </ul>
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="/register"><i class="fa fa-user-plus" aria-hidden="true"></i> Register</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
                </li>
              </ul>
            </div>
            </div>
          </nav>   
        <div class="about" id="about">
          <h1>GOALS</h1>
          <p>Welcome to Goals! The only place where you can find your inner self in the most relaxing way..</p>
          <a href="/register"><button>CHECK IT OUT!</button></a>
        </div>
        <h1 class="features-heading">Features</h1>
        <div class="features" id="features">
          <div class="diary">
            <i class="fa fa-book big" aria-hidden="true"></i>
            <h4>Write Diaries</h4>
            <p class="desc">Pen your daily thoughts in a never-like Diary with us.Emojis are added to make your experience more real.</p>
          </div>
          <div class="planner">
            <i class="fa fa-pencil-square-o big" aria-hidden="true"></i>
            <h4>Make plans</h4>
            <p class="desc">Want to plan for your day? Fret not! With our exclusive planner,you can make most of your day effectively.</p>
          </div>
          <div class="games">
            <i class="fa fa-gamepad big" aria-hidden="true"></i>
            <h4>Play games</h4>
            <p class="desc">Got exhausted or bored? Try our refreshing mind games which can be an energy booster for you!</p>
          </div>
        </div>
        <div class="subscription">
          <h4>SUBSCRIBE TO OUR NEWSLETTER</h4>
          <p>Get up to date with latest features,special offers to unlock prizes exclusively for you!</p>
          <div class="address">
             <input type="email" name="email" placeholder="john@gmail.com">
             <button type="submit">SUBSCRIBE</button>
          </div>
        </div>
        <p class="copyright">&copy Entertaino 2020</p>
         <div id="contact" class="contact">
          <i class="fa fa-instagram medium" aria-hidden="true"></i>
          <i class="fa fa-facebook medium" aria-hidden="true"></i>
         </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>