body{
    background-color: black;
}
#game{
    width: 400px;
    height: 500px;
    border: 1px solid rebeccapurple;
    margin-top: 30px;
    margin: auto;
}
#ball{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    z-index: 100;
    background-color: yellow;
    position: relative;
    top:440px;
    left: 190px;
}
.platform{
    width: 400px;
    height: 20px;
    background-color: red;
    position: relative;
    top: 100px;
    margin-top: -20px;

}
.hole{
    width: 40px;
    height: 20px;
    background-color: black;
    position: relative;
    top: 100px;
    margin-top: -20px;

}
